html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  _overflow: hidden;
  background-color: #333333;
  font-family: Verdana, sans-serif;
  color: #333333;
}

.title {
  color: #eee;
  font-size: 1.5em;
}
.subtitle {
  color: #ccc;
  font-size: 0.75em;
}

.sociallink {opacity: 0.5; font-size:1.75em; }

.site-navigation {
  background-color: rgba(0,0,0,0);
}
#user_info {
  color: #fff;
  text-align: left;
  float: right;
}
#online_users {
  color: #fff;
  text-align: left;
}
#webgl_app {
  text-align: center;
}

#gl-canvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
