<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partial_head %>
  <title></title>
</head>
<body>
  <header>
    <% include partial_header %>
  </header>
  
  <main>
  
  </main>
  
  <footer>
    <% include partial_footer %>
  </footer>

  <% include partial_scripts %>
</body>
</html>
