<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partial_head %>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #messages li:nth-child(even) { color: #eee; }
    #users {border: 1px solid #eee;}
    #users li {color: #eee;}
  </style>
</head>
<body>
  <header>
    <% include partial_header %>
  </header>
  
  <main>
    <script>
      $('#navtab-chat').addClass('active');
    </script>
    <div>
      <div class="col-xs-12 col-sm-4">
        <h2>Online Users</h2>
        <ul  id="users"></ul>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2>Messages</h2>
        <ul id="messages"></ul>
      </div>
    </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    
  </main>
  
  <footer>
    <% include partial_footer %>
    <script src="socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat:message', $('#m').val());
        $('#m').val('');
        return false;
      });
      var message_window = $('#messages');
      var online_users  = $('#users');

      socket.on('chat:message', function(msg){
        message_window.append($('<li>').text(msg));
      });

      socket.on('chat:join', function(msg){
        message_window.append($('<li>').text('user connected @: '+msg));
        if ('/#'+socket.id == msg){
          online_users.append($('<li>').attr('id', msg).text(msg+" (you)"));
        }else{
          online_users.append($('<li>').attr('id', msg).text(msg));
        }
      });

      socket.on('chat:members', function(msg){
        online_users.text('');
        var members = $.parseJSON(msg);
        for (var m in members) {
          console.log(members[m]);
          console.log('chat:members:socket:'+socket.id);
          if ('/#'+socket.id == members[m]){
            online_users.append($('<li>').attr('id', members[m]).text(members[m]+" (you)"));
          }else{
            online_users.append($('<li>').attr('id', members[m]).text(members[m]));
          }
        }
      });

      socket.on('chat:leave', function(msg){
        message_window.append($('<li>').text('user disconnected @: '+msg));
        $("#users li[id='"+msg+"']").remove();
      });
    </script>
  </footer>

  <% include partial_scripts %>
</body>
</html>
