<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partial_head %>
  <title></title>
</head>
<body>
  <header>
    <% include partial_header %>
  </header>
  
  <main>
    <script>
      $('#navtab-home').addClass('active');
    </script>

    <div class="container" id='welcome'>
      <div class="jumbotron">
        <h1>Web Development Experiments</h1>
        <p>This web page comprises some experiments with web technologies.</p>
        <p>The WebGL demos are using plain WebGL API as an excercise into better 
          understanding the mechanics of what is going on between javascript and 
          the GPU. These demos are listed below:</p>
        <ul>
          <li><a href="/webgl">Basic shapes</a> - click and drag to rotate scene, works on mobile touch</li>
          <li><a href="/webgl/texture">Textured Shapes</a> - same as above but maps textures to the shapes</li>
          <li><a href="/webgl/multiplayer">Multiplayer Demo</a> - Open multiple browsers (desktop/mobile) to add extra meteors to the scene and watch as others drag and rotate their meteors.</li>
        </ul>
        <p>There is also a token chat room interface I was toying with.</p>

        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>Client Side</h2>
            <ul class='list-unstyled '>
              <li><i class='fa fa-dot-circle-o'></i> Boostrap CSS </li>
              <li><i class='fa fa-dot-circle-o'></i> Responsive CSS </li>
              <li><i class='fa fa-dot-circle-o'></i> jQuery </li>
              <li><i class='fa fa-dot-circle-o'></i> WebGL Basics </li>
              <li><i class='fa fa-dot-circle-o'></i> WebGL Mobile touch </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>Server Side</h2>
            <ul class='list-unstyled'>
              <li><i class='fa fa-dot-circle-o'></i> AWS Infrastructure </li>
              <li><i class='fa fa-dot-circle-o'></i> NGinx Web Server </li>
              <li><i class='fa fa-dot-circle-o'></i> Node JS </li>
              <li><i class='fa fa-dot-circle-o'></i> Express JS  </li>
              <li><i class='fa fa-dot-circle-o'></i> EJS Templates  </li>
              <li><i class='fa fa-dot-circle-o'></i> Socket server for multiplayer </li>
              <li><i class='fa fa-dot-circle-o'></i> Redis datastore </li>

            </ul>
          </div>
          <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6  col-xs-12">
            <h2>Integrations</h2>
            <ul class='list-unstyled'>
              <li><i class='fa fa-dot-circle-o'></i> Facebook Authentication </li>
              <li><i class='fa fa-dot-circle-o'></i> Google Authentication </li>
              <li><i class='fa fa-circle-o'></i> Paypal checkout (Donations for coffee) </li>
              
            </ul>
          </div>
        </div
      </div>
    </div>
  </main>
  
  <footer>
    <% include partial_footer %>
  </footer>

  <% include partial_scripts %>
</body>
</html>

  
