<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partial_head %>
  <title></title>
</head>
<body>
  <header>
    <% include partial_header %>
  </header>
  
  <main>
    <script>
      $('#navtab-home').addClass('active');
    </script>

    <div class='container'>
      <div 
        class='row col-xs-4 col-xs-offset-4 text-center'
        style='background-color: rgba(220, 220, 220, 0.5); border-radius:2em; padding:1em;'
        >
        <button id='fb-btn' style='margin:1em;'> Login with Facebook </button>
        <button id='google-btn' style='margin:1em;'> Login with Google </button>

      </div>
    </div>
  </main>
  
  <footer>
    <% include partial_footer %>
  </footer>

  <% include partial_scripts %>
</body>
</html>

