
    <!-- WebGL Shader Programs -->
    <script id="vertex-shader" type="x-shader/x-vertex">
      attribute vec4 vPosition;
      attribute vec4 vColor;

      uniform mat4 uMVMatrix; // Object poistioning matrix
      uniform mat4 uPMatrix; //camera matrix

      varying vec4 fColor;

      void main()
      {
        gl_Position = uPMatrix*uMVMatrix*vPosition;
        fColor = vColor;
      }
    </script>

    <script id="fragment-shader" type="x-shader/x-fragment">
      precision mediump float;
      varying vec4 fColor;

      void main()
      {
        gl_FragColor = fColor; // vec4(1.0, 1.0, 1.0, 1.0);
      }
    </script>
    
    <!-- JS Load last -->
    <script type="text/javascript" src="/js/lib/gl-matrix-min.js"></script>
    <script type="text/javascript" src="/js/webgl.js"></script>
    <script>
      webGLStart();
    </script>
