
    <!-- WebGL Shader Programs -->
    <script id="vertex-shader" type="x-shader/x-vertex">
      attribute vec4 vPosition;
      attribute vec4 vColor;
      attribute vec2 vTexCoord;

      uniform mat4 uMVMatrix; // Object poistioning matrix
      uniform mat4 uPMatrix; //camera matrix

      varying vec4 fColor;
      varying vec2 fTexCoord;

      void main()
      {
        gl_Position = uPMatrix*uMVMatrix*vPosition;
        fColor = vColor;
        fTexCoord = vTexCoord;
      }
    </script>

    <script id="fragment-shader" type="x-shader/x-fragment">
      precision mediump float;
      varying vec4 fColor;
      varying vec2 fTexCoord;
      uniform bool uUseTexture;
      uniform sampler2D uTexture; //Texture Index 0-31

      void main()
      {
        //if (uUseTexture) {
          gl_FragColor = texture2D(uTexture, vec2(fTexCoord.s, fTexCoord.t));
        //}else{
        //  gl_FragColor = fColor; // vec4(1.0, 1.0, 1.0, 1.0);
        //}
      }
    </script>
    
    <!-- JS Load last -->
    <script type="text/javascript" src="/js/lib/gl-matrix-min.js"></script>
    <script type="text/javascript" src="/js/webgl-texture.js"></script>
    <script>
      webGLStart();
    </script>
