
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse" id="site-navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <div class="title">WebGL Experiments</div>
        <div class="subtitle">Josh Peak</div>
      </a>
    </div>
    <!-- CONTACT DROPDOWN -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id='navtab-home' ><a href="/"><i class='fa fa-home'></i> Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-cubes'></i> WebGL Demos <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/webgl">WebGL Shapes Demo </a></li>
            <li><a href="/webgl/texture">WebGL Texture Demo </a></li>
            <li><a href="/webgl/multiplayer">WebGL Multiplayer Demo </a></li>
          </ul>
        </li>
        <li id='navtab-chat'><a href="/chat"><i class='fa fa-comments'></i> Chat</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://au.linkedin.com/in/neozenith"><i class="fa fa-linkedin sociallink"></i> LinkedIn </a></li>
            <li><a target="_blank" href="https://github.com/neozenith"><i class="fa fa-github-square sociallink"></i> GitHub </a></li>
            <li><a target="_blank" href="https://gitlab.com/neozenith"><i class="fa fa-gitlab sociallink"></i> GitLab </a></li>
            <li><a target="_blank" href="https://stackoverflow.com/users/622276/neozenith"><i class="fa fa-stack-overflow sociallink"></i> StackOverflow </a></li>
            <li><a target="_blank" href="http://joshpeak.net"><i class="fa fa-pencil-square-o sociallink"></i> Blog </a></li>
          </ul>
        </li>
      </ul>
      
      <!-- FB Login Nav -->
      <div class='nav navbar-nav navbar-right' style='text-align: center;' id="user_info"> 
        <span class='nav' id="fb_login_status"></span>
        <fb:login-button 
          scope="public_profile,email,user_friends"
          onlogin="checkLoginState();"
          auto-logout-link="true"
          size="small"
          style="display: inline;"
          >
        </fb:login-button>
      </div>
      <div class='nav navbar-nav navbar-right' style='text-align: center;' id="user_info"> 
        <span class='nav' id="google_login_status"></span>
        <div class="g-signin2" data-onsuccess="google_authenticated"></div>
      </div>

    </div><!--/.nav-collapse -->
  </div>

</nav>
