
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WebGL Test</title>

<!-- Basic helper JS libs -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />

<!-- FB/Google Auth -->
<script type="text/javascript" src="/js/auth.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="223764268954-v0i7g743d86a8v2dvtijs43k275evvep.apps.googleusercontent.com">

<!-- Application -->
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style/style.css" />
