
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : <%= process.env.FB_APP_ID %>,
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use version 2.5
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };
  
</script>
