<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partial_head %>
  <title></title>
</head>
<body>
  <header>
    <% include partial_header %>
  </header>
  
  <main>
    <script>
      $('#navtab-webgl').addClass('active');
    </script>

    
    <div class="fluid-container" id="webgl_app">
      <canvas id="gl-canvas" >
        Your browser doesn't support the HTML5 canvas element
      </canvas>
    </div>
    
    <% include partial_webgl_shaders_textures %>
  </main>
  
  <footer>
    <% include partial_footer %>
  </footer>

  <% include partial_scripts %>
</body>
</html>
